parameters:
    level: 6
    bootstrapFiles:
        - src/Application.php
    paths:
        - src
        - tests
    excludePaths:
        - tests/application/route.php
    universalObjectCratesClasses:
        - Hazaar\Model